

body {
    font-family: 'Roboto', sans-serif; 
    background-color: #f4f4f9; 
    color: #333; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6; 

}

body {
    padding: 20px; 
}

